<footer class="page-footer font-small indigo navbar-footer-background-color ">
  <!-- Footer Links -->
  <div class="container text-center text-md-left white-color-text">
    <div class="row">
      <div class="col-md-3 mx-auto">
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Customer Services</h5>

        <ul class="list-unstyled">
          <li>
            <a  class="white-color-text" href="#!">Help center</a>
          </li>
          <li>
            <a  class="white-color-text" href="#!">Money refund</a>
          </li>
          <li>
            <a  class="white-color-text" href="#!">Open dispute</a>
          </li>
        </ul>
      </div>
      <hr class="clearfix w-100 d-md-none" />

      <!-- Grid column -->
      <div class="col-md-3 mx-auto white-color-text">
        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">My Account</h5>

        <ul class="list-unstyled white-color-text">
          <li>
            <a  class="white-color-text" href="#!">User Login</a>
          </li>
          <li>
            <a  class="white-color-text" href="#!">User register</a>
          </li>
          <li>
            <a  class="white-color-text" href="#!">Account Setting</a>
          </li>
          <li>
            <a  class="white-color-text" href="#!">My Orders</a>
          </li>
        </ul>
      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none" />

      <!-- Grid column -->
      <div class="col-md-3 mx-auto">
        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">About</h5>

        <ul class="list-unstyled white-color-text">
          <li>
            <a  class="white-color-text"  href="#!">Our history</a>
          </li>
          <li>
            <a  class="white-color-text" href="#!">How to buy</a>
          </li>
          <li>
            <a  class="white-color-text" href="#!">Delivery and payment</a>
          </li>
          <li>
            <a  class="white-color-text" href="#!">Advertice</a>
          </li>
        </ul>
      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none" />

      <!-- Grid column -->
      <div class="col-md-3 mx-auto">
        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4 ">Contacts</h5>

        <ul class="list-unstyled white-color-text">
          <li>
            <a  class="white-color-text" href="tel: +33076866053">Phone: +33076866053</a>
          </li>
          <li>
            <a  class="white-color-text"  href="mailto:mohamedboubaya1@gmail.com?subject=[henri-potier] Contact"
            >Email: mohamedboubaya1@gmail.com</a
            >
          </li>
        </ul>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3 white-color-text">
    © 2019 Copyright:
    <a  class="white-color-text" href="mohamedboubaya.com"> mohamed boubaya</a>
  </div>
  <!-- Copyright -->
</footer>
